# Quarto
/_site/
/.quarto/
*_files/
*_cache/
/site_libs/

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env / secrets
.env
.env.local

**/*.quarto_ipynb
